/* Authors: Mateo Peña Costa, Raquel Cámara Domene and Marcos Ibáñez Sánchez*/

/*********************************************************************************************/
/* home page wallpaper and space for our registered trademark*/
/*********************************************************************************************/
body {
    background-color: #155354;
}

.left-corner {
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 14px;
    margin: 0px;
    margin-left: 15px;
    color: white;
}

/*********************************************************************************************/
/*container with information about us and contact links */
/*********************************************************************************************/
/*main container title */
.main-container {
    margin-top: 70px;
    padding: 20px;
}

h1 {
    text-align: left;
    color: #FFA500;
}

.team-comps-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.team-comp-content {
    display: flex;
    flex-direction: column;
    gap: 3px;
}


.team-comp {
    background-color: #19696b;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    cursor: pointer;
    transition: max-height 0.3s ease;
    overflow: hidden;
    max-height: 300px;
    gap: 40px; 
}

.team-comp h2 {
    text-align: left;
    color: #FFFFFF;
}

.team-comp h3 {
    text-align: left;
    font-size: 13px;
    color: #FFFFFF;
}

.team-comp.expanded {
    max-height: 600px;
}

.team-comp-difficulty {
    display: flex;
    gap: 10px;
    margin-top: 3px;
    text-align: left;
}

.team-comp-difficulty span {
    text-align: left;
    color: #FFA500;
    font-weight: bold;
    font-size: 20px;
}

/* Estilos para diferentes niveles de dificultad */
.team-comp-difficulty span[data-difficulty="Hard"] {
    color: #FF0000;
}

.team-comp-difficulty span[data-difficulty="Medium"] {
    color: #FFA500;
}

.team-comp-difficulty span[data-difficulty="Easy"] {
    color: #00FF00;
}

.team-comp-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.publish-btn, .edit-btn, .delete-btn {
    background-color: #f5b03e;
    border: none;
    padding: 10px;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.publish-btn[data-publicado="Y"] {
    background-color: #7bcf6b;
    color: #FFFFFF;
}

.publish-btn:hover, .edit-btn:hover, .delete-btn:hover {
    background-color: #FFA500;
}

.publish-btn[data-publicado="Y"]:hover {
    background-color: #4d8b40;
    color: #FFFFFF;
}


.team-comp-champions {
    display: flex;
    gap: 10px;
    height: 13px;
    width: 6px;
    margin-top: 20px;
    justify-content: flex-end;
    background-color: #239ca4;
    border-radius: 5px;
}

.team-comp-champion img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.team-comp-description {
    display: none;
    margin-top: 10px;
    color: #FFFFFF;
}

.team-comp.expanded .team-comp-description {
    display: block;
}



.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    
    
}

.arrow {
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: #dbc682;
}

.arrow.green {
    color: green;
}

.arrow.red {
    color: red;
}

.arrow.gray {
    color: gray;
}

.count {
    font-size: 25px;
    padding: 5px;
}



.save-btn, .report-btn {
    background-color: #f5b03e;
    border: none;
    padding: 10px;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
