/* Authors: Mateo Peña Costa and Raquel Cámara Domene */

/*********************************************************************************************/
/* home page wallpaper and space for our registered trademark*/
/*********************************************************************************************/
body {
    background-image: url("../images/misc/background.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    transition: background 0.5s;
}
/*************************************************************************************************/
/*home page content, such as the image, the text and the button that will lead to the next screen*/
/*************************************************************************************************/
.start-team-button {
    background-image: radial-gradient(circle, #adeef6, #4f98d9);
    border-radius: 50px;
    color: #f53e3e;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-shadow: 0px 0px 3px #FFD700;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24), 0 14px 28px 0 rgba(0,0,0,0.19);
    border: solid white; 
    border-width: 2px; 
    font-size: 1.5vw;
    margin-left: -5%;
}

.pingu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.pingu-container:hover .pingu-image {
    transform: scale(1.01) rotate(5deg);
    filter: grayscale(0%)  drop-shadow(0 4px 8px rgba(62, 175, 240, 0.4));
}

.pingu-container:hover .text-container {
    transform: scale(1.01);
    filter:  drop-shadow(0 4px 8px rgba(62, 175, 240, 0.7));
    flex: 1;

}


.pingu-container:hover .text-button-container {
    transform: scale(1.2);
}

.text-button-container {
    position: relative;
    transition: transform 0.3s ease;
}

.text-container {
    margin-left: -5%;
    color: white;
    font-size: 1.5vw;
    margin-right: -5%;
    transition: transform 0.3s ease, filter 0.3s ease;
    flex: 1;
}

.pingu-image {
    width: 45vw;
    height: auto;
    margin-top: 15vh;
    filter: grayscale(30%);
    transition: transform 0.3s ease, filter 0.3s ease;
    z-index: -1;
    
}
/* Media queries para ajustar el tamaño del texto en diferentes tamaños de pantalla */
@media (max-width: 1200px) {
    .text-container {
        font-size: 1.8vw;
    }
}

@media (max-width: 992px) {
    .text-container {
        font-size: 1.6vw;
    }
}

@media (max-width: 768px) {
    .text-container {
        font-size: 1.4vw;
    }
}

@media (max-width: 576px) {
    .text-container {
        font-size: 1.2vw;
    }
}
/*********************************************************************************************/
.extra-content {
    margin-top: 200px;
    display: flex;
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 20px;
    margin-bottom: -100px;
   
}

.extra-content div {
    text-align: center; /* Centra el contenido dentro de cada div */
    margin: 0 60px; /* Espacio entre los divs */
}

.extra-content img {
    width: auto;
    height: 30vw;
    margin-bottom: 10px;
    border-radius: 20px;
}

.extra-content .button {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: white;
    color: rgba(25, 105, 107, 0.7);
    text-decoration: none;
    border-radius: 5px;
}
/*********************************************************************************************/
