/* Authors: Mateo Peña Costa, Raquel Cámara Domene and Marcos Ibáñez Sánchez*/

/*********************************************************************************************/
/* home page wallpaper and space for our registered trademark*/
/*********************************************************************************************/
body {
    background-color: #155354;
}

.left-corner {
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 14px;
    margin: 0px;
    margin-left: 15px;
    color: white;
}

/*********************************************************************************************/
/*container with information about us and contact links */
/*********************************************************************************************/
/*main container title */
.main-container {
    margin-top: 70px;
    padding: 20px;
}

h1 {
    text-align: left;
    color: #FFA500;
}

.team-comps-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.team-comp-content {
    display: flex;
    flex-direction: column;
    gap: 3px;
}


.team-comp {
    background-color: #19696b;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    cursor: pointer;
    transition: max-height 0.3s ease;
    overflow: hidden;
    max-height: 300px;
}

.team-comp h2 {
    text-align: left;
    color: #FFFFFF;
}

.team-comp.expanded {
    max-height: 600px;
}

.team-comp-difficulty {
    display: flex;
    gap: 10px;
    margin-top: 3px;
    text-align: left;
}

.team-comp-difficulty span {
    text-align: left;
    color: #FFA500;
    font-weight: bold;
    font-size: 20px;
}

/* Estilos para diferentes niveles de dificultad */
.team-comp-difficulty span[data-difficulty="Hard"] {
    color: #FF0000;
}

.team-comp-difficulty span[data-difficulty="Medium"] {
    color: #FFA500;
}

.team-comp-difficulty span[data-difficulty="Easy"] {
    color: #00FF00;
}

.team-comp-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.publish-btn, .edit-btn, .delete-btn {
    background-color: #f5b03e;
    border: none;
    padding: 10px;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.publish-btn[data-publicado="Y"] {
    background-color: #7bcf6b;
    color: #FFFFFF;
}

.publish-btn:hover, .edit-btn:hover, .delete-btn:hover {
    background-color: #FFA500;
}

.publish-btn[data-publicado="Y"]:hover {
    background-color: #4d8b40;
    color: #FFFFFF;
}

.team-comp-container {
    display: flex;
    justify-content: flex-start;
    gap: 1vw; 
    max-width: 40vw;
    overflow-x: auto;
    white-space: nowrap;
}

.team-comp-champions {
    display: inline-block;
    gap: 0vw;
    height: 6vw;
    width: 6vw;
    margin-bottom: 2vw;
    justify-content: flex-end;
    background-color: #239ca4;
    border-radius: 0.2vw;
}

.team-comp-champion img {
    width: 5vw;
    height: 5vw;
    border-radius: 0.2vw;
}

.team-comp-champion p {
    color: #f5b03e;
    font-size: 1vw;
    margin: 0;
}


.team-comp-description {
    display: none;
    margin-top: 10px;
    color: #FFFFFF;
}

.team-comp.expanded .team-comp-description {
    display: block;
}

.popup {
    display: none; /* Oculto por defecto */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 21vw;
    height: 26vw;
    background-color: #155354;
    border: 4px solid #f5b03e;
    border-radius: 10px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 1vw;
    text-align: left;
}

.popup .close-button {
    position: absolute;
    top: 0.5vw;
    right: 0.5vw;
    background: none;
    border: none;
    font-size: 1vw;
    cursor: pointer;
    color: white;
}
.popup-content { display: flex; flex-direction: column; } 

.popup-content label { 
    margin-top: 10px;
    color: #f5b03e;
    font-size: 18px;
    font-weight: bold;
} 

.popup-content input, 
.popup-content textarea { margin-top: 5px; padding: 10px; border: 1px solid #ccc; border-radius: 5px; } 

.error-message { color: red; font-size: 12px; display: none; } 

.difficulty { display: flex; justify-content: space-between; margin-top: 10px; } 


.difficulty-button { padding: 10px; border: none; border-radius: 5px; cursor: pointer; height: 2vw; display: flex; 
    justify-content: center;
    align-items: center;
    right: 10px;
    margin-top: 10px;} 

#Easy { background-color: green; color: white; margin-left: 5px; margin-right: 5px;} 

#Medium { background-color: orange; color: white; margin-right: 5px;} 

#Hard { background-color: red; color: white; margin-right: 10px;}  

.publish { display: flex; align-items: center; margin-top: 10px; } 

.publish label { margin-right: 10px;}

#charCount { margin-top: 5px; font-size: 14px; color: #f5f5f5; 
 }

.saveconf-button {
    margin-top: 1vw;
    width: 100%;
    height: 3vw;
    background-color: #f5b03e; 
    color: white; 
    padding: 1vw; 
    border: none; 
    border-radius: 0.5vw; 
    cursor: pointer;
    font-size: 1vw;
    align-items: center;
    justify-content: center;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #15535498; 
    z-index: 999;
}