/* Authors: Mateo Peña Costa and Raquel Cámara Domene */

/*********************************************************************************************/
/* home page wallpaper and space for our registered trademark*/
/*********************************************************************************************/
body {
    background-color: #155354;
    justify-content: center;
    align-items: center;

}

/*********************************************************************************************/
/*container with information about us and contact links */
/*********************************************************************************************/
.containerlog {
    background-color: #19696b; /* Añadir un fondo blanco para visibilidad */
    border-radius: 10px; /* Añadir bordes redondeados */
    width: 30%; /* Ajustar el ancho del contenedor */
    margin-left: 5vw;
    margin-top: 3vw;
    height: 21.5vw;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vw;
}

/*********************************************************************************************/

form input::placeholder {
    color: #007bff; /* Color azul */
}

form input {
    color: #007bff; /* Color del texto ingresado */
}
/*********************************************************************************************/
/* Estilos para los botones de Login y Register */
.toggle-button {
    margin: 10px;
}
/*********************************************************************************************/

/* Estilos para los mensajes de error de Parsley.js */
.parsley-errors-list {
    color: red;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.separador {
    display: flex;
    margin-top: 2vw;
    width: 58vw;
    height: 6px;
    background-color: #f5b03e;
    justify-content: center;
    align-items: center;
}

.separador-fin {
    margin-top: 3vw;
    margin-bottom: 5vw;
    width: 58vw;
    height: 6px;
    background-color: #f5b03e;
    z-index: 999;
}

.info-container {
    margin-top: 3vw;
    justify-content: center;
    align-items: center;
    color: #f5b03e;
    display: flex;
    width: 100%;
    height: 20vw;
}

.imagen-izquierda {
    margin-right: 20px; /* Espacio entre la imagen y el formulario */
    width: 18vw; /* Adjust the width as needed */
    border: 5px solid #9013a0;
    box-shadow: 0 15px 20px rgba(206, 81, 238, 0.5);
}

.text-title {
    margin-top: 8vw; /* Espacio entre el texto y el formulario */
    margin-left: 0vw; /* Espacio entre el texto y el borde izquierdo */
    color: #f5b03e;
}

.barra_sep_logreg {
    
    font-size: 2vw;
    margin-top: -0.5vw;
    margin-bottom: 0.5vw;
}

.container2log {
    width: 90%;
    margin-top: 2vw;
    margin-left: 0.8vw;
    justify-content: center;
    align-items: center;
}

.toggle-button1 {
    background-color: #d8c377; /* Cambiar el color de fondo */
    color: white; /* Cambiar el color del texto */
    border: none; /* Eliminar el borde */
    text-align: center; /* Centrar el texto */
    text-decoration: none; /* Eliminar subrayado */
    display: inline-block; /* Mostrar en línea */
    font-size: 16px; /* Cambiar el tamaño de la fuente */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    border-radius: 5px; /* Añadir bordes redondeados */
    margin-bottom: 1vw;
    margin-left: 0.5vw;
}

.toggle-button1:disabled {
    background-color: #155354; /* Asegurarse de que el color de fondo se aplique cuando está deshabilitado */
    color: white; /* Asegurarse de que el color del texto se aplique cuando está deshabilitado */
}

.toggle-button2 {
    background-color: #f5b03e; /* Cambiar el color de fondo */
    color: white; /* Cambiar el color del texto */
    border: none; /* Eliminar el borde */
    text-align: center; /* Centrar el texto */
    text-decoration: none; /* Eliminar subrayado */
    display: inline-block; /* Mostrar en línea */
    font-size: 16px; /* Cambiar el tamaño de la fuente */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    border-radius: 5px; /* Añadir bordes redondeados */
    margin-bottom: 1vw;
    margin-right: 0.5vw;
}

.regent {
    background-color: #f5b03e;
    border: none; /* Eliminar el borde */

}

.regent:hover {
    background-color: #341ab3; /* Cambiar el color de fondo al pasar el ratón por encima */
}

.toggle-button2:hover {
    background-color: #341ab3; /* Cambiar el color de fondo al pasar el ratón por encima */
}

/* Estilos para el contenedor de botones */
.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 0vw; /* Margen inferior relativo al ancho de la pantalla */
    
}

/* Estilos para los botones de registro, log in y register */
.container2log .btn {
    width: 40%; /* Ancho del botón relativo al contenedor */
    padding: 1vw; /* Padding relativo al ancho de la pantalla */
    display: flex; /* Usar flexbox para centrar el contenido */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 2vw;
    font-size: 0.8vw; /* Tamaño de la fuente relativo al ancho de la pantalla */
}

/* Estilos para los inputs del formulario */
.container2log .form-control {
    width: 100%; /* Ancho del input relativo al contenedor */
    height: 1vw;
    padding: 1vw; /* Padding relativo al ancho de la pantalla */
    margin-bottom: vw; /* Margen inferior relativo al ancho de la pantalla */
}

/* Estilos para el formulario */
.form-container {
    width: 100%; /* Ancho del formulario relativo al contenedor */
    display: flex; /* Usar flexbox para centrar el contenido */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; 
    
}

.form-container .btn {
    display: flex; /* Usar flexbox para centrar el contenido */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; 
    margin-left: 4vw;
    
}

.form-container2 {
    margin-bottom: 3vw;
}

.mb-3 .form-control{
    font-size: 1vw; /* Cambiar el tamaño de la fuente */
}
.mb-3 {
    margin-bottom: 0.5vw; /* Ajusta este valor según sea necesario */
}
