/* Authors: Mateo Peña Costa, Raquel Cámara Domene and Marcos Ibáñez Sánchez*/

/*********************************************************************************************/
/* home page wallpaper and space for our registered trademark*/
/*********************************************************************************************/
body {
    background-color: #155354;
    justify-content: center;
    align-items: center;

}

/*********************************************************************************************/
/*container with information about us and contact links */
/*********************************************************************************************/
.containerlog {
    background-color: #19696b; 
    border-radius: 10px; 
    width: 30%; 
    margin-left: 5vw;
    margin-top: 3vw;
    height: 21.5vw;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vw;
}

/*********************************************************************************************/

form input::placeholder {
    color: #007bff; 
}

form input {
    color: #007bff; 
}
/*********************************************************************************************/
/* Estilos para los botones de Login y Register */
.toggle-button {
    margin: 10px;
}
/*********************************************************************************************/

/* Estilos para los mensajes de error de Parsley.js */
.parsley-errors-list {
    color: red;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.separador {
    display: flex;
    margin-top: 2vw;
    width: 58vw;
    height: 6px;
    background-color: #f5b03e;
    justify-content: center;
    align-items: center;
}

.separador-fin {
    margin-top: 3vw;
    margin-bottom: 5vw;
    width: 58vw;
    height: 6px;
    background-color: #f5b03e;
    z-index: 999;
}

.info-container {
    margin-top: 3vw;
    justify-content: center;
    align-items: center;
    color: #f5b03e;
    display: flex;
    width: 100%;
    height: 20vw;
}

.imagen-izquierda {
    margin-right: 20px; 
    width: 18vw; 
    border: 5px solid #9013a0;
    box-shadow: 0 15px 20px rgba(206, 81, 238, 0.5);
}

.text-title {
    margin-top: 8vw; 
    margin-left: 0vw;
    color: #f5b03e;
}

.barra_sep_logreg {
    
    font-size: 2vw;
    margin-top: -0.5vw;
    margin-bottom: 0.5vw;
}

.barra_sep_arriba {
    font-size: 7em;
    margin-top: -5vw;
    margin-bottom: 4vw;
    color: #f5b03e;
}

.barra_sep_abajo {
    font-size: 7em;
    margin-top: -3vw;
    margin-bottom: 4vw;
    color: #f5b03e;
    z-index: -4;
}

.container2log {
    width: 90%;
    margin-top: 2vw;
    margin-left: 0.8vw;
    justify-content: center;
    align-items: center;
}

.toggle-button1 {
    background-color: #d8c377; 
    color: white; 
    border: none; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 5px; 
    margin-bottom: 1vw;
    margin-left: 0.5vw;
}

.toggle-button1:disabled {
    background-color: #155354; 
    color: white; /
}

.toggle-button2 {
    background-color: #f5b03e; 
    color: white; 
    border: none; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 5px; 
    margin-bottom: 1vw;
    margin-right: 0.5vw;
}

.regent {
    background-color: #f5b03e;
    border: none; 

}

.regent:hover {
    background-color: #341ab3; 
}

.toggle-button2:hover {
    background-color: #341ab3; 
}

/* Estilos para el contenedor de botones */
.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 0vw; 
    
}

/* Estilos para los botones de registro, log in y register */
.container2log .btn {
    width: 40%; 
    padding: 1vw; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 2vw;
    font-size: 0.8vw; 
}

/* Estilos para los inputs del formulario */
.container2log .form-control {
    width: 100%; 
    height: 1vw;
    padding: 1vw; 
    margin-bottom: vw; 
}

/* Estilos para el formulario */
.form-container {
    width: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    
}

.form-container .btn {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-left: 4vw;
    
}

.form-container2 {
    margin-bottom: 3vw;
}

.mb-3 .form-control{
    font-size: 1vw; /
}
.mb-3 {
    margin-bottom: 0.5vw; /
}



.button-register {
    position: relative;
    z-index: 999;
}