/* Authors: Mateo Peña Costa and Raquel Cámara Domene */

/*********************************************************************************************/
/* home page wallpaper and space for our registered trademark*/
/*********************************************************************************************/
body {
    background-color: #155354;
}

.left-corner {
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 14px;
    margin: 0px;
    margin-left: 15px;
    color: white;
    z-index: 2; /* Añadir z-index alto */
}

/*********************************************************************************************/
/*features of the LEVEL container */
/*********************************************************************************************/
.container {
    margin-top: 5vw;
    margin-left: 0vw;
    margin-right: 0vw;
    display: flex;
    width: 150vw;
}

.exp_menu {
    width: 16vw;
    height: 8vw;
    margin-left: 1%;
    left: 0;
    margin-top: 1%;
    background-color: rgb(46, 147, 154);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 2vw;
    text-align: center;
}

.exp_menu .title-exp {
    font-family: "Helvetica Bold", sans-serif;
    font-weight: bold;
    background: linear-gradient(to right, #FFD700, #FFA500);
    background-clip: text;
    -webkit-background-clip: text;  /* provided by AI */
    color: transparent;
    margin-top: 1vw;
    margin-top: 1vw;
    font-size: 2vw;
}

.form-control{
    border: none;
    position: relative;
    overflow: hidden;
    width: 5vw;
    height: 3vw;
}

.input-group {
    width: 80%;
    justify-content: center;
}

.btn-custom {
    background-color: #155354;
    border: none;
    position: relative;
    overflow: hidden;
    width: 5vw;
    height: 3vw;
}

.btn-custom::before {
    content: 'Reload';
    background: linear-gradient(to right, #FFD700, #FFA500);
    background-clip: text;
    -webkit-background-clip: text;  /* provided by AI */
    color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    font-weight: bold;
    font-size: 1.2vw;
}

.btn-custom:hover {
    background-color: #0e3d3e;
}

.form-control::placeholder {
    font-size: 1.2vw;
}

/*********************************************************************************************/
/*synergies container features */
/*********************************************************************************************/
/*main synergies container */
.emblem_menu {
    max-height: 60vw;
    width: 16vw;
    height: 29vw;
    margin-left: 1%;
    margin-top: 3vw;
    background-color: rgba(25, 105, 107, 0.7);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    align-items: center;
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 2vw;
    overflow-y: auto;
    padding-bottom: 2vw;
}

/*container title */
.emblem_menu .title-siner{
    font-family: "Beaufort Pro", sans-serif;
    font-weight: bold;
    background: linear-gradient(to right, #FFD700, #FFA500);
    background-clip: text;
    -webkit-background-clip: text;  /* provided by AI */
    color: transparent;
    margin-bottom: -0.5vw;
    font-size: 1.5vw;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: rgba(25, 105, 107, 0.7);
    padding-top: 10px;
}

/*container where there is only one synergy */
.emblem_menu .embl{
    width: 14vw;
    height: 60px;
    margin-left: 0.5;
    margin-right: 0.5;
    margin: 0.5vw auto;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    left: 0;
    background-color: rgb(100, 144, 145);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 2vw;
    justify-content: flex-start;
}

/*container that emglobes all the synergies to make scrolling */
.sinergias-container {
    margin-top: 0.5vw;
    width: 100%;
    overflow-y: auto;
    scrollbar-width: none;
}

/*number of times the synergy is present */
.emblem_menu .embl .num{
    width: 2vw;
    height: 2vw;
    margin-left: 3.3vw;
    margin-right: 0.5%;
    margin-top: 0.5%;
    margin-bottom: 0.8vw;
    right: 15%;
    background-color: rgb(100, 144, 145);
    display: flex;
    position: relative; 
    color: white;
    font-weight: bold;
    font-size: 1.7vw;
}

/*synergy title */
.emblem_menu .embl .syner{
    width: 1vw;
    height: 2vw;
    margin-left: 0.5vw;
    margin-right: 0.5%;
    margin-top: 0.5%;
    margin-bottom: 1.1vw;
    right: 15%;
    background-color: rgb(180, 76, 214);/*rgb(100, 144, 145);*/
    display: flex;
    position: relative; 
    color: white;
    font-weight: bold;
    font-size: 1vw;
}

/*possible amount of synergies */
.emblem_menu .embl .cantPosible{
    width: 20vw;
    position: absolute;
    background-color: rgb(214, 104, 76);
    font-size: 1.5vw;
    left: 50%;
    top: 50%;
    z-index: 200;
    color: white;

}

/*picture of the synergy */
.emblem_menu .embl .imag{
    width: 2.2vw;
    height: 2.2vw;
    margin-left: 1vw;
}

/*********************************************************************************************/
/*characteristics of the container where you are going to place the champions you have at that moment */
/*********************************************************************************************/
/*main synergies container */
.champ_menu{
    width: 53vw;
    height: 22.8vw; /*18*/
    bottom: 41vw; /*41*/
    left: 18vw;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5%;
    margin-bottom: 0.80%;
    background-color: #155354;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: relative;
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 2vw;
    overflow: hidden;
    padding: 0;
}

/*hollow for a champion */
.champ_menu .champ{
    width: 8vw;
    height: 10vw;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    margin-top: 0.3vw;
    margin-bottom: 0.3vw;
    background-color: rgba(25, 105, 107, 0.7);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 2vw;
}

/*champion image */
.champ img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 40px;
}

.champ img:hover {
    transform: scale(1.04) rotate(5deg);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.15s ease-in-out;
    position: relative;
    z-index: 10;
}

/*********************************************************************************************/
/*container for the emblem finder and the camp site finder */
/*********************************************************************************************/
/*main container*/
.browser {
    width: 65vw;
    height: 19vw;
    margin-left: 14vw;
    margin-top: -43vw;
    padding: 0;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 2vw;
}

/*container titles*/
.emblem-title-container, .champ-title-container {
    margin-top: -4vw;
    display: flex;
    height: 19vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.emblem-title-container {
    margin-left: 5vw;
    width: 30%;
}

.champ-title-container {
    margin-left: 3vw;
    margin-right: 1vw;
    width: 52%;
}

/*********************************************************************************************/
/*container of the emblem finder */
/*********************************************************************************************/
.browser .emblem {
    width: 130%;
    height: 125vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-grow: 1;
    margin-left: 27%;
    margin-right: 1%;
    margin-top: 0vw;
    border-radius: 10px;
    background-color: rgba(25, 105, 107, 0.7);
}

/*hole for the selected emblem */
.emblem .embl-1 {
    width: 2.5vw;
    height: 2.5vw;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    margin-top: 0.5vw;
    margin-bottom: 0.2vw;
    background-color: rgba(22, 77, 78, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 2vw;
}

.browser .emblem .separ {
    width: 100%;
    height: 0.3vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    background: linear-gradient(to right, #FFD700, #FFA500);
}

/*container with all the emblems */
.browser .emblem .embl-2-container {
    height: 10vw;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    scrollbar-width: none;
    justify-content: center;
}

.browser .emblem .embl-2 {
    width: 3.3vw;
    height: 3.3vw;
    margin-left: 1.15vw;
    margin-right: 1.15vw;
    margin-top: 0.5vw;
    margin-bottom: 1.4vw;
    background: linear-gradient(to right, #FFD700, #FFA500);;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 2vw;
    border-radius: 2px;
    filter: grayscale(10%);
}

.browser .emblem .embl-2:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    filter: grayscale(0%);
    transition: all 0.3s ease-in-out;
    z-index: 10;
}

.embl-2 .name  {
    font-size: 0.9vw;
    text-align: center;
    margin-top: 0.5vw;
    margin-bottom: 0.5;
    top: 2.5vw;
    position: absolute;
}

.browser .emblem .img-embl {
    width: 3vw;
    height: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 1vw;
    border-radius: 2px;
}

.embl-2:hover .panel {
    display: block;
}

/*********************************************************************************************/
/*container of the champions finder */
/*********************************************************************************************/
/*main container*/
.browser .champions {
    width: 95%;
    height: 12vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-height: 250px;
    margin-left: 28%;
    margin-right: 21%;
    margin-top: 0.5vw;
    border-radius: 10px;
    background-color: rgba(25, 105, 107, 0.7);
}

.browser .champions .champ-2:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    filter: grayscale(0%);
    transition: all 0.3s ease-in-out;
    z-index: 10;
}

.browser .champions .champs-container {
    width: 100%;
    height: 12vw;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    scrollbar-width: none;
    border-radius: 10px;
    background-color: rgba(25, 105, 107, 0.7);
}

.browser .champions .champ-2 {
    width: 3.5vw;
    height: 3.5vw;
    margin-left: 1.15vw;
    margin-right: 1.15vw;
    margin-top: 0.5vw;
    margin-bottom: 1vw;
    background: linear-gradient(to right, #FFD700, #FFA500);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 2vw;
    border-radius: 2px;
    filter: grayscale(10%);
}

.browser .champions .champ-2[cost="1"] {
    background: linear-gradient(to right, #818181, #646464);
}

.browser .champions .champ-2[cost="2"] {
    background: linear-gradient(to right, #31b63c, #09881a);
}

.browser .champions .champ-2[cost="3"] {
    background: linear-gradient(to right, #379ee8, #2883cd);
}

.browser .champions .champ-2[cost="4"] {
    background: linear-gradient(to right, rgb(180, 76, 214), #b215dd);
}

.browser .champions .champ-2[cost="5"] {
    background: linear-gradient(to right, #eebe30, #f09605);
}

.browser .champions .img-champ {
    width: 3vw;
    height: 3vw;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    margin-top: 0.3vw;
    margin-bottom: 0.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 2vw;
    border-radius: 2px;
}

.browser .champions .name {
    font-size: 0.9vw;
    text-align: center;
    top: 3.35vw;
    position: absolute;
}

.champ-2:hover .panel {
    display: block;
}

.panel-icon {
    width: 0.8vw;
    height: 0.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: white;
}

.search-bar {
    width: 100% !important;
}

.btn-custom-search {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    background-image: radial-gradient(circle, #f5b03e, #a8913e);
    border: none;
    border-radius: 0px;
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
    border-radius: 10px;
    height: 3vw;
    font-size: 1vw;
}

/*********************************************************************************************/
/*common characteristics for both champions and emblems search engines */
/*********************************************************************************************/
.panel {
    display: none;
    width: 7vw;
    height: 5.6vw;
    position: absolute;
    bottom: 10px;
    font-size: 0.65vw;
    background-color: #155354;
    border: 1px;
    padding: 10px;
    z-index: 999;
    top: 100%;
    left: 50%;
    border-radius: 0.5vw;
    transform: translateX(-50%);
}

.panel-title {
    font-size: 0.7vw;
    font-weight: bolder;
}

.title {
    margin-left: 26%;
    margin-top: 0.5vw;
    font-family: "Helvetica Bold", sans-serif;
    font-weight: bold;
    background: linear-gradient(to right, #FFD700, #FFA500);
    background-clip: text;
    -webkit-background-clip: text;  /* provided by AI */
    color: transparent;
    font-size: 2vw;
}  

/*********************************************************************************************/
/*container with the title and recommended characters sorted by the probability of appearance according to their cost */
/*********************************************************************************************/
/*main container*/
.recommendation {
    width: 16vw;
    height: 40vw;
    top: 0;
    margin-top: -45vw;
    right: 0; /* Pega el elemento a la derecha */
    margin-right: 0vw;
    margin-left: 80vw;
    /*margin-left: 83%;*/
    background-color: rgba(25, 105, 107, 0.7);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: white;
    font-weight: bold;
    font-size: 2vw;
    position: relative;
}

/*main container title */
.recommendation .title-recomm {
    font-family: "Helvetica Bold", sans-serif;
    font-weight: bold;
    background: linear-gradient(to right, #FFD700, #FFA500);
    background-clip: text;
    -webkit-background-clip: text; /* provided by AI */
    color: transparent;
    margin-top: 1.5vw;
    font-size: 1.3vw;
}

/*space for a recommended character */
.recommendation .recchamp {
    width: 11.5vw;
    height: 7vw;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1vw;
    background-color: rgba(25, 105, 107, 0.7);
    overflow: hidden;
}

/*space all recommendations */
.recommendation-container {
    height: 30vw;
    overflow-y: auto;
    margin-top: -3vw;
    scrollbar-width: none;
}

.recchamp img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: cover;
}

/*depending on the cost of the character a border colour is applied */

.recchamp-1 {
    border: 4px solid transparent; 
    border-image: linear-gradient(to right, #818181, #646464) 1;
}

.recchamp-2 {
    border: 4px solid transparent; 
    border-image: linear-gradient(to right, #31b63c, #09881a) 1;
}

.recchamp-3 {
    border: 4px solid transparent; 
    border-image: linear-gradient(to right, #379ee8, #2883cd) 1;
}

.recchamp-4 {
    border: 4px solid transparent; 
    border-image: linear-gradient(to right, rgb(180, 76, 214), #b215dd) 1;
}

.recchamp-5 {
    border: 4px solid transparent; 
    border-image: linear-gradient(to right, #eebe30, #f09605) 1;
}
/*********************************************************************************************/

.save-button {
    background-color: #155354;
    padding: 0;
    z-index: 999;
    position: relative;
    bottom: 56vw;
    left: 27vw;
    width: 6vw;
    height: 4vw;
    background-color: #f5b03e; 
    color: white; 
    padding: 1vw; 
    border: none; 
    border-radius: 0.5vw; 
    cursor: pointer;
    font-size: 1vw;
}

.champ-save {
    display: flex; /* Usar flexbox para alinear los elementos horizontalmente */
    align-items: center; /* Alinear verticalmente los elementos */
    justify-content: flex-start; /* Alinear los elementos al inicio */
    width: 100vw;
 
}

.overlay {
    display: none; /* Oculto por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #15535498; /* Fondo blanco semitransparente */
    z-index: 999; /* Debe estar por debajo del pop-up */
}

.popup {
    display: none; /* Oculto por defecto */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20vw;
    height: 26vw;
    background-color: #155354;
    border: 4px solid #f5b03e;
    border-radius: 10px;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 1vw;
    text-align: left;
}

.popup .close-button {
    position: absolute;
    top: 0.5vw;
    right: 0.5vw;
    background: none;
    border: none;
    font-size: 1vw;
    cursor: pointer;
    color: white;
}
.popup-content { display: flex; flex-direction: column; } 

.popup-content label { 
    margin-top: 10px;
    color: #f5b03e;
    font-size: 18px;
    font-weight: bold;
} 

.popup-content input, 
.popup-content textarea { margin-top: 5px; padding: 10px; border: 1px solid #ccc; border-radius: 5px; } 

.error-message { color: red; font-size: 12px; display: none; } 

.difficulty { display: flex; justify-content: space-between; margin-top: 10px; } 

.difficulty-button { padding: 10px; border: none; border-radius: 5px; cursor: pointer; } 

#easy { background-color: green; color: white; } #medium { background-color: orange; color: white; } 

#hard { background-color: red; color: white; } 

.publish { display: flex; align-items: center; margin-top: 10px; } 

.publish label { margin-right: 10px;}

#charCount { margin-top: 5px; font-size: 14px; color: #f5f5f5; 
 }

.saveconf-button {
    margin-top: 1vw;
    width: 100%;
    height: 3vw;
    background-color: #f5b03e; 
    color: white; 
    padding: 1vw; 
    border: none; 
    border-radius: 0.5vw; 
    cursor: pointer;
    font-size: 1vw;
    align-items: center;
    justify-content: center;
}