<!--Authors: Mateo Peña Costa and Raquel Cámara Domene-->
{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/CC-style.css') }}">
{% endblock %}

{% block title %}
    Community Comps
{% endblock %}

{% block main %}
<div class="main-container">
    <h1>COMMUNITY COMPS</h1>
    <div class="team-comps-container">
        {% for team_comp in team_comps %}
            <div class="team-comp" onclick="toggleDescription(this)">
                <div class="team-comp-content">
                    <h2>{{ team_comp.nombre }}</h2>
                    <div class="team-comp-difficulty">
                        <span data-difficulty="{{ team_comp.dificultad }}">{{ team_comp.dificultad }}</span>
                    </div>
                    <div class="team-comp-buttons">
                        <button class="save-btn" data-nombre="{{ team_comp.nombre }}" data-dificultad="{{ team_comp.dificultad }}" data-descr="{{ team_comp.descr }}" data-user="{{ team_comp.usuario }}" onclick="saveComposition(this)">Save</button>
                    </div>
                    
                    <div class="team-comp-description">
                        <p>{{ team_comp.descr }}</p>
                    </div>
                </div>
                <div class="counter">
                    <button class="arrow up {% if team_comp.votoUser == 1 %}green{% elif team_comp.votoUser == -1 %}gray{% endif %}" data-nombre="{{ team_comp.nombre }}" data-mail="{{ team_comp.usuario }}" onclick="toggleArrowColors('up', this)">▲</button>
                    <span class="count">{{ team_comp.votos }}</span>
                    <button class="arrow down {% if team_comp.votoUser == -1 %}red{% elif team_comp.votoUser == 1 %}gray{% endif %}" data-nombre="{{ team_comp.nombre }}" data-mail="{{ team_comp.usuario }}" onclick="toggleArrowColors('down', this)">▼</button>
                </div>
                <div class="team-comp-champions">
                    {% for champion in team_comp.champions %}
                        <div class="team-comp-champion">
                            <img src="{{ champion.url_buscador }}" alt="{{ champion.nombre }}">
                            <p>{{ champion.nombre }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}

        <script>

function borrarVoto(nombre, mail) {
                alert(`Nombre: ${nombre}, Dificultad: ${mail}`);
                fetch('/delete_vote', {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        nombre: nombre,
                        mail: mail,
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Voto guardado exitosamente.');
                    } else {
                        alert('Error al guardar voto.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Error al guardar voto.');
                });
            }

            function añadirVoto(nombre, mail, voto) {
                alert(`Nombre: ${nombre}, Dificultad: ${mail}, Descripción: ${voto}`);
                fetch('/save_vote', {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        nombre: nombre,
                        mail: mail,
                        voto: voto,
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Voto guardado exitosamente.');
                    } else {
                        alert('Error al guardar voto.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Error al guardar voto.');
                });
            }


            function toggleArrowColors(direction, button) {
                const nombre = button.getAttribute('data-nombre');
                const mail = button.getAttribute('data-mail');
                const upArrow = button.parentElement.querySelector('.up');
                const downArrow = button.parentElement.querySelector('.down');

                if (direction === 'up') {
                    // Si ya está activada en verde, la desactiva (vuelve a gris)
                    if (upArrow.classList.contains('green')) {
                        upArrow.classList.remove('green');
                        downArrow.classList.remove('gray');
                        borrarVoto(nombre, mail)
                    } else {
                        // Si no, la activa en verde y pone la flecha abajo en gris
                        upArrow.classList.add('green');
                        upArrow.classList.remove('gray');
                        downArrow.classList.add('gray');
                        downArrow.classList.remove('red');
                        añadirVoto(nombre, mail, 1)
                    }
                } else if (direction === 'down') {
                    // Si ya está activada en rojo, la desactiva (vuelve a gris)
                    if (downArrow.classList.contains('red')) {
                        downArrow.classList.remove('red');
                        upArrow.classList.remove('gray');
                        borrarVoto(nombre, mail)
                    } else {
                        // Si no, la activa en rojo y pone la flecha arriba en gris
                        downArrow.classList.add('red');
                        downArrow.classList.remove('gray');
                        upArrow.classList.add('gray');
                        upArrow.classList.remove('green');
                        añadirVoto(nombre, mail, -1)
                    }
                }
            }         


            function saveComposition(button) {
                const nombre = button.getAttribute('data-nombre');
                const dificultad = button.getAttribute('data-dificultad');
                const descr = button.getAttribute('data-descr');
                //const champions = JSON.parse(button.getAttribute('data-champ'));
                const user = button.getAttribute('data-user');
                //const championNames = champions.map(champion => champion.nombre);
                alert(`Nombre: ${nombre}, Dificultad: ${dificultad}, Descripción: ${descr}, Usuario: ${user}`);//Campeones: ${champions}`);

                fetch('/save_composition', {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        nombre: nombre,
                        dificultad: dificultad,
                        descr: descr,
                        //champions: champions
                        user : user
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Composición guardada exitosamente.');
                    } else {
                        alert('Error al guardar la composición.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Error al guardar la composición.');
                });
            }
        </script>
{% endblock %}