<!--Authors: Mateo Peña Costa and Raquel Cámara Domene-->
{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/CC-style.css') }}">
{% endblock %}

{% block title %}
    Community Comps
{% endblock %}

{% block main %}
<div class="main-container">
    <h1>COMMUNITY COMPS</h1>
    <div class="team-comps-container">
        {% for team_comp in team_comps %}
            <div class="team-comp" onclick="toggleDescription(this)">
                <div class="team-comp-content">
                    <h2>{{ team_comp.nombre }}</h2>
                    <div class="team-comp-difficulty">
                        <span data-difficulty="{{ team_comp.dificultad }}">{{ team_comp.dificultad }}</span>
                    </div>
                    <div class="team-comp-buttons">
                        <button class="save-btn" data-nombre="{{ team_comp.nombre }}" data-dificultad="{{ team_comp.dificultad }}" data-descr="{{ team_comp.descr }}" data-champ="{{ team_comp.champions }}" onclick="saveComposition(this)">Save</button>
                    </div>
                    <div class="team-comp-description">
                        <p>{{ team_comp.descr }}</p>
                    </div>
                </div>
                <div class="team-comp-champions">
                    {% for champion in team_comp.champions %}
                        <div class="team-comp-champion">
                            <img src="{{ champion.url_buscador }}" alt="{{ champion.nombre }}">
                            <p>{{ champion.nombre }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <script>
            function saveComposition(button) {
                const nombre = button.getAttribute('data-nombre');
                const dificultad = button.getAttribute('data-dificultad');
                const descr = button.getAttribute('data-descr');
                const champions = button.getAttribute('data-champ');
                const championNames = champions.map(champion => champion.nombre);
                alert(`Nombre: ${nombre}, Dificultad: ${dificultad}, Descripción: ${descr}, Campeones: ${champions}`);

                fetch('/save_composition', {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({
                        nombre: nombre,
                        dificultad: dificultad,
                        descr: descr,
                        champions: championNames
                    })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        alert('Composición guardada exitosamente.');
                    } else {
                        alert('Error al guardar la composición.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Error al guardar la composición.');
                });
            }
        </script>
{% endblock %}