<!--Authors: Mateo Peña Costa and Raquel Cámara Domene-->
{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login-style.css') }}">
{% endblock %}

{% block title %}
    Login
{% endblock %}

{% block main %}
<h1 class="text-title">Welcome back</h1>
<h1 class="barra_sep_arriba">____________________</h1>
<!-- <div class="separador"></div> -->
<div class="info-container">
    <img src="../static/images/misc/login.png" alt="Imagen a la izquierda" class="imagen-izquierda">
    <div class="containerlog">
        <div class="container2log">
            <div class="button-container">
                <button class="btn btn-primary toggle-button1" disabled>Log In</button>
                <span class="barra_sep_logreg">/</span>
                <button class="btn btn-primary toggle-button2" onclick="window.location.href='register'">Register</button>
            </div>
            <!-- Login -->
            <div id="login-form" class="form-container active">
                <form id="loginForm" action="/login" method="post" data-parsley-validate>
                    <div class="mb-3">
                        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="mail" placeholder="mail" type="mail" required data-parsley-required-message="Please enter your mail." title="Write mail here">
                    </div>
                    <div class="mb-3">
                        <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password" required data-parsley-required-message="Please enter your password." title="Write password here">
                    </div>
                    <button class="btn btn-primary button-login loginent" type="submit">LOG IN</button>
                </form>
            </div>
        </div>
        
        
    </div>
    
</div>
<h1 class="barra_sep_abajo">____________________</h1>



<script>
    function showForm(formType) {
        loginForm.classList.add('active');
        registerForm.classList.remove('active');
        window.history.pushState({}, '', '/login');
    }
</script>
 
{% endblock %}