{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login-style.css') }}">
{% endblock %}

{% block title %}
    Login
{% endblock %}

{% block main %}
<div class="container">
    <div class="button-container">
        <button class="btn btn-primary toggle-button" onclick="window.location.href='login'">Log In</button>
        <button class="btn btn-primary toggle-button" onclick="window.location.href='register'">Register</button>
    </div>
    <!-- Login -->
    <div id="login-form" class="form-container active">
        <form id="loginForm" action="/login" method="post" data-parsley-validate>
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="mail" placeholder="mail" type="mail" required data-parsley-required-message="Please enter your mail.">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password" required data-parsley-required-message="Please enter your password.">
            </div>
            <button class="btn btn-primary" type="submit">Log In</button>
        </form>
    </div>
</div>

<script>
    function showForm(formType) {
        loginForm.classList.add('active');
        registerForm.classList.remove('active');
        window.history.pushState({}, '', '/login');
    }
</script>
{% endblock %}