{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login-style.css') }}">
{% endblock %}

{% block title %}
    Log In / Register
{% endblock %}

{% block main %}
<div class="container">
    <div class="button-container">
        <button class="btn btn-primary toggle-button" onclick="showForm('login')">Log In</button>
        <button class="btn btn-primary toggle-button" onclick="showForm('register')">Register</button>
    </div>
    <!-- Register -->
    <div id="register-form" class="form-container">
        <form id="registerForm" action="/register" method="post" data-parsley-validate>
            <div class="mb-3">
                <input autocomplete="off" class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text" required data-parsley-required-message="Please enter a username.">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="email" placeholder="Email" type="email" required data-parsley-type="email" data-parsley-required-message="Please enter a valid email address.">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password" required data-parsley-required-message="Please enter a password.">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="confirm_password" placeholder="Confirm Password" type="password" required data-parsley-equalto="#registerForm input[name='password']" data-parsley-required-message="Please confirm your password." data-parsley-equalto-message="Passwords do not match.">
            </div>
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
    </div>
</div>

<script>
    function showForm(formType) {
        const loginForm = document.getElementById('login-form');
        const registerForm = document.getElementById('register-form');

        if (formType === 'login') {
            loginForm.classList.add('active');
            registerForm.classList.remove('active');
        } else if (formType === 'register') {
            registerForm.classList.add('active');
            loginForm.classList.remove('active');
        }
    }
</script>
{% endblock %}