{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/settings-style.css') }}">
{% endblock %}

{% block title %}
    Profile Settings
{% endblock %}

{% block main %}
<div class="profile-container">
    <h1>PROFILE</h1>
    <div class="profile-info">
        <div class="izquierda">    
            <div class="profile-picture">
                <img src="../static/images/avatars/contacto.png" alt="Profile Picture">
                
            </div>
            <button class="edit-photo-button">EDIT PHOTO</button>
                <div class="avatar-menu" id="avatar-menu">  
                    <div class="avatar-container">
                        {% for avatar in avatars %}
                            <img src="../{{ avatar.URL_ }}" class="avatar-option" alt="Avatar">
                        {% endfor %}
                    </div>
                </div> 
        </div>
        <div class="profile-fields">
            <div class="field">
                <label for="email">Mail</label>
                <input type="email" id="email" placeholder="{{session['mail']}}">
            </div>
            <div class="field">
                <label for="username">User name</label>
                <input type="text" id="username" placeholder="{{session['username']}}">
            </div>
            <div class="field">
                <label for="password">Password</label>
                <input type="password" id="password" value="{{session['contra']}}">
            </div>
            <button class="save-button">SAVE CHANGES</button>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const editPhotoButton = document.querySelector('.edit-photo-button');
        const avatarMenu = document.getElementById('avatar-menu');

        editPhotoButton.addEventListener('click', function() {
            if (avatarMenu.style.display === 'none' || avatarMenu.style.display === '') {
                avatarMenu.style.display = 'block';
            } else {
                avatarMenu.style.display = 'none';
            }
        });
    });
</script>
{% endblock %}
