{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/settings-style.css') }}">
{% endblock %}

{% block title %}
    Profile Settings
{% endblock %}

{% block main %}
<div class="profile-container">
    <h1>PROFILE</h1>
    <div class="profile-info">
        <div class="profile-picture">
            <img src="../static/images/avatars/contacto.png" alt="Profile Picture">
            <button class="edit-photo-button">EDITAR FOTO</button>
            <div class="avatar-menu" id="avatar-menu">
                {% for avatar in avatars %}
                    <img src="{{ url_for('static', filename='images/avatars/' + avatar.URL_) }}" class="avatar-option" alt="Avatar">
                {% endfor %}
            </div>
        </div>
        <div class="profile-fields">
            <div class="field">
                <label for="email">Mail</label>
                <input type="email" id="email" placeholder="{{session['mail']}}">
            </div>
            <div class="field">
                <label for="username">User name</label>
                <input type="text" id="username" placeholder="{{session['username']}}">
            </div>
            <div class="field">
                <label for="password">Password</label>
                <input type="password" id="password" value="{{session['contra']}}">
            </div>
            <button class="save-button">SAVE CHANGES</button>
        </div>
    </div>
</div>
{% endblock %}
