<!--Authors: Mateo Peña Costa and Raquel Cámara Domene-->
{% extends "layout.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/start_team-style.css') }}">
{% endblock %}

{% block title %}
    Start Team
{% endblock %}

{% block main %}

            <div>
                <div class="exp_menu">
                    <h2 class="title-exp">LEVEL</h2>
                    <div class="input-group mb-3">
                        <input type="number" class="form-control" id="nivel" placeholder="Number" aria-label="Number" min="1" max="11">
                        <button class="btn btn-custom" type="button" onclick="recommendChamps()"></button>
                    </div>
                </div>
                
                <div class="emblem_menu">
                    <h2 class="title-siner">SYNERGIES</h2>
                    <div class="sinergias-container">
                    </div>
                </div>
                <div class champ-save>
                    <div class="champ_menu">
                        <div class="champ" data-id="1"></div>
                        <div class="champ" data-id="2"></div>
                        <div class="champ" data-id="3"></div>
                        <div class="champ" data-id="4"></div>
                        <div class="champ" data-id="5"></div>
                        <div class="champ" data-id="6"></div>
                        <div class="champ" data-id="7"></div>
                        <div class="champ" data-id="8"></div>
                        <div class="champ" data-id="9"></div>
                        <div class="champ" data-id="10"></div>
                        <div class="champ" data-id="11"></div>
                        <div class="champ" data-id="12"></div>
                    </div>
                    <button class="save-button" id="saveButton">Save</button>
                </div>
                

                
                
                <div class="browser">
                    <div class="emblem-title-container">
                        <h2 class="title">EMBLEMS</h2>
                        <div class="emblem">
                            <div class="embl-1"></div>
                            <div class="embl-1"></div>
                            <div class="embl-1"></div>
                            <div class="embl-1"></div>
                            <div class="embl-1"></div>
                            <!-- LINEA PARA SEPARAR -->
                            <div class="separ"></div>
                            <!---->
                            <div class="embl-2-container">
                                {% for emblem in emblems %}
                                    <div class="embl-2">
                                        <img src="{{ emblem.url_ }}" alt="{{ emblem.nombre }}-em" class="img-embl">
                                        <div class="name">{{ emblem.nombre }}</div>
                                        <div class="panel">
                                            <span class="panel-title">{{ emblem.nombre }} Emblem</span></br>{{ emblem.description }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div> 
                        </div>
                    </div>
                    <div class="champ-title-container">
                        <h2 class="title" style="margin-left: 6%;">CHAMPIONS</h2>
                        <form class="d-flex" role="search" style="width: 95%; margin-left: 7%;" onsubmit="return false;">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width: 100%;" id="searchInput">
                            <button class="btn btn-custom-search" type="button" onclick="searchImages()">Search</button>
                        </form>
                        <div class="champions">
                            <div class="champs-container" id="recuadroMorado">
                                {% for champ in champs %}
                                    <div class="champ-2" cost="{{ champ.coste }}">
                                        <img src="{{ champ.url_buscador }}" alt="{{ champ.nombre }}" class="img-champ">
                                        <div class="name">{{ champ.nombre }}</div>
                                        <div class="panel">
                                            <span class="panel-title">{{ champ.nombre }}</span><br>
                                            <img src="static/images/misc/TFT_Gold_Icon.webp" alt="Cost" class="panel-icon"></img>Cost: {{ champ.coste }}<br>
                                            {% for sinergia in champ.sinergias %}
                                                <img src="{{ sinergia.url_ }}" alt="{{ sinergia.nombre }}" class="panel-icon"></img>{{ sinergia.nombre }}<br>
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>        
                </div>
                <div class="recommendation">
                    <h2 class="title-recomm">RECOMMENDATIONS</h2>
                    <div class="recommendation-container">
                    </div>
                </div>
            </div>

            <script id="champ-data" type="application/json"> {{ champs | tojson | safe }} </script>
            <script id="emblem-data" type="application/json"> {{ emblems | tojson }} </script>
            <script id="synergie-data" type="application/json"> {{ synergies | tojson }} </script>

            <script src="../static/js/script-synergies.js"></script>
            <script src="../static/js/script-champions.js"></script>
            <script src="../static/js/script-emblems.js"></script>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    const saveButton = document.getElementById('saveButton');
                    const overlay = document.createElement('div');
                    overlay.classList.add('overlay');
                    document.body.appendChild(overlay);
            
                    const popup = document.createElement('div');
                    popup.classList.add('popup');
                    popup.innerHTML = `
                            <button class="close-button">&times;</button>
                                <div class="popup-content">
                                    <label for="name">Name</label>
                                    <input type="text" id="name" placeholder="Enter name">
                                    <span id="name-error" class="error-message">Name already in use</span>
                                    
                                    <label for="description">Description</label> 
                                    <textarea id="description" placeholder="Enter description" maxlength="2500"></textarea> 
                                    <div id="charCount">2500 characters remaining</div>

                                    
                                    <div class="difficulty">
                                        <label>Difficulty</label>
                                        <button class="difficulty-button" id="Easy">Easy</button>
                                        <button class="difficulty-button" id="Medium">Medium</button>
                                        <button class="difficulty-button" id="Hard">Hard</button>
                                    </div>
                                    
                                    <div class="publish">
                                        <label for="publish">Publish</label>
                                        <input type="checkbox" id="publish">
                                    </div>
                                    
                                    <button class="saveconf-button">Save</button>
                                </div>
                      

                    `;
                    document.body.appendChild(popup);
            
                    saveButton.addEventListener('click', function() {
                        overlay.style.display = 'block';
                        popup.style.display = 'block';
                    });
            
                    popup.querySelector('.close-button').addEventListener('click', function() {
                        overlay.style.display = 'none';
                        popup.style.display = 'none';
                    });
            
                    overlay.addEventListener('click', function() {
                        overlay.style.display = 'none';
                        popup.style.display = 'none';
                    });

                    const difficultyButtons = document.querySelectorAll('.difficulty-button'); 
                    difficultyButtons.forEach(button => { 
                        button.addEventListener('click', function() { 
                            // Elimina el borde de los otros botones 
                            difficultyButtons.forEach(btn => btn.style.border = 'none'); 
                            // Añade el borde verde al botón seleccionado 
                            button.style.border = '3px solid #479d9e'; 
                        });
                    });

                    // Contador de caracteres para el campo de descripción 
                    const descriptionField = document.getElementById('description'); 
                    const charCount = document.getElementById('charCount'); 
                    descriptionField.addEventListener('input', function() { 
                        const remaining = 2500 - descriptionField.value.length; 
                        charCount.textContent = `${remaining} characters remaining`;
                    });

                    popup.querySelector('.saveconf-button').addEventListener('click', function() {
                        const name = document.getElementById('name').value;
                        const description = document.getElementById('description').value;
                        const chosenDifficulty = Array.from(difficultyButtons).find(btn => btn.style.border.includes('3px solid'));
                        const difficulty = chosenDifficulty.id;
                        const publish = document.getElementById('publish').checked;

                        const selectedChampions = [];
                        document.querySelectorAll('.champ_menu .champ').forEach(champ => {
                        const img = champ.querySelector('img');
                        if (img && img.src && img.alt) {
                            const champName = img.alt;
                            selectedChampions.push(champName);
                        }
                        });

                        const data = {
                            nombre: name,
                            dificultad: difficulty,
                            published: publish ? 'Y' : 'N',
                            descr: description,
                            champions: selectedChampions
                        };

                        fetch('/save_comp', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(data)
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                alert('Composición guardada exitosamente.');
                                overlay.style.display = 'none';
                                popup.style.display = 'none';
                            } else {
                                alert('Error al guardar la composición.');
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            alert('Error al guardar la composición.');
                        });
                    });
                });
            </script>
            
            {% endblock %}